<div class="container bg-card mt-2">
  <h1> Your Experiences </h1>
</div>
  <div class="container bg-card mt-2">
    <div class= "listings">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Booking Date</th>
              <th>Experience Name</th>
              <th>User</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <h5>Magician bookings</h5>
            <% if @magician_bookings.empty? %>
              <p>You have not listed any experiences</p>
            <% else %>
              <% @magician_bookings.each do |booking| %>
              <tr>
                <td><%= booking.date.to_fs(:long_ordinal) %></td>
                <td><%= booking.magician.email %></td>
                <td><%= booking.experience.title %></td>
                <td><%= booking.status %></td>
              </tr>
                <%= link_to 'Accept', accept_booking_path(booking), method: :patch %>
                <%= link_to 'Decline', decline_booking_path(booking), method: :patch %>
              <% end %>
            <% end %>
          </tbody>
          <tbody>
            <h5>Customer bookings</h5>
            <% if @customer_bookings.empty? %>
              <p>You have not listed any experiences</p>
            <% else %>
            <% @customer_bookings.each do |booking| %>
              <tr>
                <td><%= booking.date.to_fs(:long_ordinal) %></td>
                <td><%= booking.customer.email %></td>
                <td><%= booking.status %></td>
                <td><%= booking.experience.title %></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
