
<div class="container mb-4">
  <div class="card card-body bg-card mt-2">
    <h1> My Magic Shows </h1>
  </div>
  <div class= "listings">
    <div class="card card-body bg-card mt-2">
        <table class="table table-striped">
          <thead>
              <tr>
                <th>Title</th>
                <th>Booking Requests</th>
                <th> </th>
              </tr>
          </thead>
          <tbody>
              <h5><strong>Shows You Have Listed</strong></h5>
            <% if Experience.where(user_id: current_user).empty? %>
              <p>You have not listed any experiences...</p>
            <% else %>
              <% Experience.where(user_id: current_user).each do |experience| %>
              <tr>
                <td><%= experience.title %></td>
                <td><%= experience.bookings.count %></td>
                <td><%= link_to "See the booking requests", magician_experience_bookings_path(current_user, experience), id: "white", class: "btn btn-secondary" %></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
    <div class="card card-body bg-card mt-2">
      <div class= "listings">
        <table class="table table-striped">
          <thead>
            <tr>
            <th>Requested Booking Date</th>
            <th>Title</th>
            <th>Magician</th>
            <th>Category</th>
            <th>Duration</th>
            <th>Price</th>
            <th>Status</th>
            </tr>
          </thead>
          <tbody>
              <h5><strong>Shows You Have Requested</strong></h5>
              <% if @customer_bookings.empty? %>
                <p>You have not requested any experiences yet</p>
              <% else %>
              <% @customer_bookings.each do |booking| %>
                <tr>
                  <td><%= booking.date.to_fs(:long_ordinal) %></td>
                  <td><%= booking.experience.title %></td>
                  <td><%= "#{booking.magician.first_name} #{booking.magician.last_name}" %></td>
                  <td><%= booking.experience.category %></td>
                  <td><%= booking.experience.duration %></td>
                  <td>€<%= booking.experience.price %></td>
                  <td><%= booking.status %></td>
                </tr>
                <% end %>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
