  <% @experiences.each do |experience| %>
    <%= link_to experience_path(experience) do %>
      <div id="<%= dom_id experience %>" class="card-trip jumpcard">
        <% if experience.photo.attached? %>
          <%= cl_image_tag experience.photo.key, height: 300, crop: :fill%>
        <% else %>
         <%=image_tag src="https://source.unsplash.com/random", alt: "random-image", height: 300, width: 200 %>
        <% end %>
        <div class="card-trip-info">

          <div class= "cards-infos">
            <h4><%= experience.title %></h4>
            <p><%= experience.category %></p>
          </div>

          <div>
              <p><%= experience.city %></p>
              <p><%= experience.duration %></p>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
