
  <% @experiences.each do |experience| %>
    <div id="<%= dom_id experience %>" class="card card-body m3 text-center bg-card">
      <strong><%= experience.title %></strong>
        <%= experience.city %>
            <br>
        <%= experience.category %>
            <br>
        <%= experience.duration %>
      <% if experience.photo.attached? %>
        <div class= "rounded mx-auto d-block" alt="user uploaded photo"><%= cl_image_tag experience.photo.key, height: 300, width: 400, crop: :fill %></div>
      <% else %>
        <div class= "rounded mx-auto d-block"><%= image_tag "generic.jpg", alt: "generic magician", width: 200 %></div>
      <% end %>
    </div>
  <% end %>
