<%= simple_form_for(experience) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class= "form-inputs">
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category, collection: ["Childrens Magic", "Sleight of hand", "Animal magic", "Comedy Magician", "illusionist", "Escapologist", "Mentalist"] %>
  <%= f.input :city %>
  <%= f.input :duration, collection: ["2h", "4h", "6h"] %>
  <%= f.input :price %>
  </div>

  <div class=“form-actions”>
    <%= f.button :submit %>
  </div>
<% end %>
