<h1>Hi!</h1>

<ul>
  <% @experiences.each do |experience| %>
    <li><%= experience.title %></li>
    <li><%= experience.city %></li>
    <li><%= experience.category %></li>
    <li><%= experience.duration %></li>
    <%= cl_image_tag @experience.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</ul>
