
<div class="container bg-card mt-2 text-center">
      <h2><%= @experience.title %></h2>
      <%= @experience.description %>
      <% if @experience&.photo&.attached? %>
          <div class= "rounded mx-auto d-block"><%= cl_image_tag experience.photo.key, height: 300, width: 400, crop: :fill%></div>
        <% else %>
          <div class= "rounded mx-auto d-block m-3"><%=image_tag src="https://source.unsplash.com/random", alt: "random-image", width: 200 %></div>
        <% end %>
        <br>
      <p>Location: <%= @experience.city %></p>
      <p>Price: <%= @experience.price %> </p>
      <p>Duration: <%= @experience.duration %> </p>
      <p>Category: <%= @experience.category %> </p>
  <div class="card card-body btn m-3 p-2 card">
  <%= link_to "Request experience", new_experience_booking_path(@experience) %>
  </div>
</div>
