
<div class = "container bg-card">
      <%= @experience.city %>
      <i class="fa-solid fa-hand-sparkles"></i>
      <%= @experience.price %>
      <%= @experience.duration %>
      <%= @experience.category %>
      <% if @experience.photo.attached? %>
          <div class= "rounded mx-auto d-block"><%= cl_image_tag experience.photo.key, height: 300, width: 400, crop: :fill%></div>
        <% else %>
          <div class= "rounded mx-auto d-block m-3"><%=image_tag src="https://source.unsplash.com/random", alt: "random-image", width: 200 %></div>
        <% end %>
    <h2><%= @experience.title %></h2>
      <%= @experience.description %>

  <button type="button" class="btn btn-blank">
  <%= link_to "Request experience", new_experience_booking_path(@experience) %>
  </button>

</div>
