
<div class="container bg-card mt-2 text-center">
      <h2><%= @experience.title %></h2>
      <%= @experience.description %>
      <% if @experience&.photo&.attached? %>
          <div class= "rounded mx-auto d-block"><%= cl_image_tag @experience.photo.key, height: 300, width: 400, crop: :fill%></div>
        <% else %>
          <div class= "rounded mx-auto d-block m-3"><%=image_tag src="https://source.unsplash.com/random", alt: "random-image", width: 200 %></div>
        <% end %>
        <br>
      <p>Location: <%= @experience.city %></p>
      <p>Price: €<%= @experience.price %> </p>
      <p>Duration: <%= @experience.duration %> </p>
      <p>Category: <%= @experience.category %> </p>
      <p>Magician's Name: <%  %> </p>
    <div class="container" style="margin-top: 5px; margin-bottom: 5px; padding-top: 10px;">
      <%= link_to "Request This Magic Show", new_experience_booking_path(@experience), id: "white", class: "btn btn-secondary" %>
    </div>
    <div class="container" style="margin-top: 5px; margin-bottom: 5px; padding-top: 10px;">
      <%= link_to "Back to All Magic Shows", experiences_path, id: "white", class: "btn btn-secondary" %>
    </div>
</div>
